.card {
  max-width: 360px;
}

.card__thumb {
  height: 245px;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

.card__thumb img {
  width: 100%;
  min-height: 245px;
  border-radius: 20px;
  background-size: cover;

}

.card:hover .card__thumb {
  height: 130px;

}


.card__wrap {
  box-sizing: border-box;
  position: relative;
  height: 30px;
  padding: 5px 15px;
  background: rgba(255, 255, 255, 0.75);
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
  border-radius: 0 0 20px 20px;
  -webkit-border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  -ms-border-radius: 0 0 20px 20px;
  -o-border-radius: 0 0 20px 20px;
}

.card:hover .card__wrap {
  height: 145px;
}

.card__title {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #000;
}

.card__description {
  list-style: none;
  position: absolute;
  left: 15px;
  bottom: 35px;
  margin: 0;
  padding: 0;
  color: #000000;
  opacity: 0;
  -webkit-transform: translateY(45px);
  transform: translateY(45px);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.card:hover .card__description {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.info__item {
  font-weight: 300;
  font-size: 13px;
  line-height: 25px;
}

.info__item-active {
  font-weight: 500;
}