.container {
  box-sizing: border-box;
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  padding: 0 0px;
}
@media (max-width: 1180px) {
  .container {
    padding: 0 40px;
  }
}
@media (max-width: 800px) {
  .container {
    padding: 0 32px;
  }
}
@media (max-width: 643px) {
  .container {
    padding: 0 20px;
  }
}
.desctop {
  display: flex;
  flex-direction: column;
  padding-top: 35px;
}
.gallery__card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-items: center;
  grid-gap: 20px;
}
.filterList {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  margin: 35px 0 45px;
  padding: 0;
  list-style: none;
}
@media (max-width: 767px) {
  .filterList {
    flex-wrap: wrap;
  }
  .filterItem {
    margin: 0;
  }
}
@media (max-width: 619px) {
  .filterList {
    flex-wrap: nowrap;
    flex-direction: column;
  }
}
.filterItem {
  min-width: 160px;
  max-width: 265px;
  width: 100%;
  margin-right: 20px;
  &:last-child {
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .filterItem {
    margin: 0;
    &:nth-child(3) {
      padding-top: 20px;
    }
    &:nth-child(4) {
      padding-top: 20px;
    }
  }
}
@media (max-width: 619px) {
  .filterItem {
    max-width: 360px;
    margin-top: 15px;
    &:first-child {
      margin-top: 0;
    }
    &:nth-child(3) {
      padding-top: 0px;
    }
    &:nth-child(4) {
      padding-top: 0px;
    }
  }
}
.paginationFwtt {
  margin-top: 45px;
}
