.range__wrap {
  max-width: 265px;
  min-width: 160px;
  width: 100%;
}
@media (max-width: 619px) {
  .range__wrap {
    max-width: 360px;
  }
}
.Range {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  line-height: 15px;
  height: 46px;
  border: 1px solid black;
  background: white;
  color: black;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  &--dark {
    border: 1px solid white;
    background: #464646;
    color: white;
  }
  &--open {
    border-bottom: 1px solid transparent;
    border-radius: 8px 8px 0 0;
  }
  &__title {
    margin: 14px 0 15px 14px;
  }
  &__arrow {
    position: absolute;
    display: flex;
    right: 18px;
    float: right;
    fill: #b3b3b3;
  }
  &__сontainer {
    display: block;
    position: absolute;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 101%;
    top: 45px;
    border: 1px solid black;
    padding: 20px 22px;
    box-sizing: border-box;
    border-radius: 0 0 8px 8px;
    background: white;
    z-index: 1;
    &--dark {
      border: 1px solid white;
      background: #464646;
      color: white;
    }
    &--open {
      border-top: none;
      display: flex;
    }
  }
}

.form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1180px) {
  .form {
    height: 110px;
    flex-direction: column;
  }
}
.form__input {
  box-sizing: border-box;
  padding: 15px;
  width: 95px;
  height: 45px;
  background: #ffffff;
  border-radius: 8px;
}
@media (max-width: 1180px) {
  .form__input {
    width: 110px;
  }
}
.form__span {
  width: 12px;
  height: 1px;
  background-color: #000;
}
.Arrow__opened {
  transform: rotate(180deg);
}
